/*
    COLOR PALETTE

    #7B52AE pale purple         #653496 mid purple
    #94C773 pale green          #74B652 mid green           
    #471871 dark purple         #2D0E54 dark dark purple
    #56941E dark green          #35610F dark dark green
    #1A062F darkest purple
    #1D3A0A darkest green


*/

html {
    transition: 0.75s;
}

.bglight {
    background-color: #7B52AE;
}

.bgdark {
    background-color: #471871;
}

.light *{
    color: #94c773;
}

.textbox.dark {
    background-color: #2D0E54;
    border-color: #1A062F;
}

.dark *{
    color: #56941E;
}

.header {
    font-family: "Times New Roman";
    font-size: 30px;
    text-align: left;
    text-shadow: 3px 3px #000000;
    display: inline-block;
    transition: 0.75s;
}

.textbox {
    border-style: solid;
    border-width: 4px;
    border-color: #653496;
    padding: 8px;
    text-align: left;
    background-color: #471871;
    width: 640px;
    transition: 0.75s;
}

div.textbox.achv {
    width: 350px;
    margin-bottom: 50px;
}

.navbar {
    font-family: "Times New Roman";
    font-size: 35px;
    text-shadow: 3px 3px #000000;
    display: inline-block;
    transition: 0.75s;
}

.switch {
    font-family: "Times New Roman";
    font-size: 30px;
    text-align: left;
    text-shadow: 3px 3px #000000;
    display: inline-block;
    cursor: pointer;
}

img.shown {
    border-style: double;
    border-width: 12px;
    border-radius: 32px;
    opacity: 1;
    transition: 0.75s;
}

.hidden {
    visibility: hidden;
    display: none;
}

.shown {
    visibility: visible; 
}

.caption {
    opacity: 0;
    background-color: #471871;

    border-radius: 512px;

    text-align: center;
    width: 848px;
    height: 48px;
    position: absolute;
    top: 705px;
    left: 15px;
    

    transition: 0.25s;
}

div.gallery  img{
    position: 50% 50%;
}

div.gallery:hover .caption{
   opacity: 0.9;
}

h1 span {
    border-style: double;
    border-width: 4px;
    padding: 8px;
    padding-left: 24px;
    padding-right: 24px;
}

ul {
    border-style: double;
    border-width: 4px;
    padding-top: 30px;
    padding-bottom: 12px;
}

li {
    display: inline-block;
    padding-right: 25px;
    padding-left: 25px;
}

li a {
    transition: 0.25s;
}

.light li a:hover {
    color: #56941E;
}

.dark li a:hover {
    color: #94c773;
}

a:link, a:visited {
    text-decoration: none;
}

img {
    width: 854px;
    height: 480px;
}

p1 {
    font-family: "Times New Roman";
    font-size: 15px;
    font-weight: 600;
    transition: 0.75s;
}

div.caption p2#cap {
    font-size: 24px;
}