/*
    COLOR PALETTE

    #7B52AE pale purple         #653496 mid purple          #122331 tft gray left   #223038 tft gray right
    #94C773 pale green          #74B652 mid green           #0F3329 tft green left  #0B4729 tft green right
    #471871 dark purple         #2D0E54 dark dark purple    #17234A tft blue left   #1A4D7D tft blue right
    #56941E dark green          #35610F dark dark green     #330F34 tft purple left #991A67 tft purple right
    #1A062F darkest purple                                  #653C02 tft gold left   #A75B02 tft gold right
    #1D3A0A darkest green       
                                

*/

/* Project Card Container CSS*/

.cardcontainer {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
}

/* Project Card CSS */

.cardcontainer > div:nth-child(2) {
    translate: 260px;
    transition: box-shadow 0.5s, transform 1s, translate 1s, width 1s, height 1s;
}

.cardcontainer > div:nth-child(3) {
    translate: 520px;
    transition: box-shadow 0.5s, transform 1s, translate 1s, width 1s, height 1s;
}

.cardcontainer > div:nth-child(4) {
    translate: 780px;
    transition: box-shadow 0.5s, transform 1s, translate 1s, width 1s, height 1s;
}

.cardcontainer > div:nth-child(5) {
    translate: 1040px;
    transition: box-shadow 0.5s, transform 1s, translate 1s, width 1s, height 1s;
}

div.card {
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 50px;
    margin-top: 10px;
    margin-left: 5px;
    width: 245px;
    height: 150px;
    box-shadow: 2px 2px 12px 4px #000000;

    transition: box-shadow 0.5s, transform 1s, position 1s, width 1s, height 1s;
    
    position: absolute;
}

div.card_shown {
    transform: translateY(-550px) translateX(-245px);
    width: calc(245px * 3.65);
    height: calc(150px * 3);
}

.cardcontainer > div:nth-child(2).card_shown {
    translate: -245px;
    transform: translateY(-550px);
    width: calc(245px * 3.65);
    height: calc(150px * 3);
}

.cardcontainer > div:nth-child(3).card_shown {
    translate: -245px;
    transform: translateY(-550px);
    width: calc(245px * 3.65);
}

.cardcontainer > div:nth-child(4).card_shown {
    translate: -245px;
    transform: translateY(-550px);
    width: calc(245px * 3.65);
}

.cardcontainer > div:nth-child(5).card_shown {
    translate: -245px;
    transform: translateY(-550px);
    width: calc(245px * 3.65);
}

div.card.shown:hover {
    box-shadow: 2px 2px 12px 4px black;
}

div.card:hover {
    cursor: pointer;
    box-shadow: 2px 2px 12px 4px #FFFFFF;
}

div.card:active {
    scale: 0.98;
}

.projDetails {
    transform: translateY(-80px);
    display: flex;
    flex-direction: row;
}

/* ProjectCard Colors By Cost */

div.card.one{
    background-image: linear-gradient(to right, #122331, #223038);
}

div.card.two{
    background-image: linear-gradient(to right, #0F3329, #0B4729);
}

div.card.three{
    background-image: linear-gradient(to right, #17234A, #1A4D7D);
}

div.card.four {
    background-image: linear-gradient(to right, #330F34, #991A67);
}

div.card.five {
    background-image: linear-gradient(to right, #653C02, #A75B02);
}

/* ProjectCard Info CSS*/

.card img {
    width: 245px;
    height: 150px;
}

.info {
    transform: translateY(7.5px);
}

.card h3 { /* traits */
    color: #FFFFFF;
    margin-left: 7.5px;
    font-weight: bolder;
    text-shadow: 2px 2px #000000;
    font-size: 12px;
}

.card h1 { /* name */
    color: #FFFFFF;
    margin-left: 7.5px;
    font-size: 32px;
}

.card p1 {
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 25px;
}

/* Project Blurb CSS */

div.blurb {
    display: flex;
    position: absolute;
    translate: 275px -225px;
    text-shadow: 2px 2px #000000;
    color: #FFFFFF;
    opacity: 1;
    width: 600px;
}

div.blurb > p {
    font-size: 26px;
    transition: opacity 0.5s;
}

div.bl-hidden > p{
    opacity:0;
}

/* Project Button CSS */

button {
    font-family: "Times New Roman";
    color:#FFFFFF;
    font-size: 26px;
    margin-top: 10px;
    width: 220px;
    height: 90px;
}

button.xp {
    background-color: #14222A;
    border-style: groove;
    border-color: #1F3445;
    border-width: 4px;
}

button.rr {
    background-color: #443F2A;
    border-style: groove;
    border-color: #3E372b;
    border-width: 4px;
}

button:active {
    scale: 0.95;
}

.button_container {
    margin-top: 10px;
    margin-right: 7px;
    display: flex;
    flex-direction: column;
}

div.btn_flex {
    display: flex;
    flex-direction: column;
    text-align: left;
}

div.btn_flex h3 {
    margin: 0px;
    font-size: 24px;
}