/*
    COLOR PALETTE

    #7B52AE pale purple         #653496 mid purple
    #94C773 pale green          #74B652 mid green           
    #471871 dark purple         #2D0E54 dark dark purple
    #56941E dark green          #35610F dark dark green
    #1A062F darkest purple
    #1D3A0A darkest green


*/

html, body {
    height: 100%;
    width: 100%;
    margin: auto;
}

.bglight {
    height: 100%;
    background-color: #7B52AE;
}

.bgdark {
    height: 100%;
    background-color: #471871;
}

.flexobj {
    display: block;
    flex-direction: column;
}

.light *{
    color: #94c773;
}

.textbox.dark {
    background-color: #2D0E54;
    border-color: #1A062F;
}

.dark *{
    color: #56941E;
}

.name {
    font-family: "Times New Roman";
    font-size: 30px;
    text-align: left;
    text-shadow: 3px 3px #000000;
}

.textbox {
    border-style: groove;
    border-width: 12px;
    border-color: #653496;
    padding: 8px;
    text-align: left;
    background-color: #471871;
    width: 640px;
    text-shadow: 3px 3px #000000;
}

div.textbox#aboutme {
    display: flex;
    width: 575px;
    height: 400px;
    margin-top: 23px;
    margin-left: 45px;
}

div.textbox#contactme {
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin-top: 25px;
    width: 575px;
    height: 118px;
    margin-left: 45px;
}

div.textbox#contactme > a {
    margin-right: 20px;
    margin-top: 15px;
    width: 100px;
    height: 100px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    position: sticky;
    z-index: 5;
    overflow: hidden;
}

.navbar {
    display: flex;
    font-family: "Times New Roman";
    font-size: 35px;
    text-shadow: 3px 3px #000000;
    transition: 0.75s;
    padding-left: 25px;
    padding-right: 25px;
    width: 100%;
    height: 110px;

    background-color: #1A062F;
}

.sidebar {
    background-color: #1A062F;
    display: flex;
    flex-direction: column;
    justify-content: left;
    z-index: 10;
    align-items: center;
    height: calc( 100vh - 110px);
    width: 170px;
}

div#shopbar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: left;
    width: auto;
}

.switch {
    font-family: "Times New Roman";
    font-size: 30px;
    text-align: left;
    text-shadow: 3px 3px #000000;
    cursor: pointer;
}

img.shown {
    margin-top: 25px;
    border-style: groove;
    border-width: 12px;
    border-bottom: hidden;
    border-color: #56941E;
}

.hidden {
    visibility: hidden;
    display: none;
}

.shown {
    visibility: visible; 
}

.caption {
    background-color: #141414;

    text-align: center;
    width: 936px;
    height: 48px;

    display: flex;
    justify-content: left;
    margin-top: 576px;
    padding-top: 10px;
    padding-left: 24px;

    position: absolute;

    border-style: groove;
    border-width: 12px;
    border-top: hidden;
    border-color: #56941E;
    
}

.content {
    display: flex;
    position: absolute;
    top: 20%;
}

.subcontainer_1 {
    display: flex;
    flex-direction: row-reverse;
    margin-left: auto;
}

.shopcontainer {
    margin-top: auto;
    margin-right: 92px;
    width: 1550px;
    background-color: #10191C; /* Taken from color picker & TFT screenshot */

    border-style: groove;
    border-color: #705A32;
    border-bottom: hidden;
    border-width: 8px;
}
.shopbar {
    margin-left: 13px;
    margin-bottom: 15px;
}

.duo {
    display: flex;
    flex-direction: column;
}

div.gallery {
    display: flex;
    justify-content: left;
    margin-left: 50px;
}

h1 span {
    padding: 8px;
    padding-left: 24px;
    padding-right: 24px;
    margin: 0px;
}

ul {
    padding-top: 30px;
    padding-bottom: 12px;
    display: flex;
    
}

li {
    display: inline-block;
    padding-right: 25px;
    padding-left: 25px;
}

li a:hover {
    transition: 0.25s;
}

.light li a:hover {
    color: #56941E;
}

.dark li a:hover {
    color: #94c773;
}

/*
.selected {
    background-image: linear-gradient(#000000,#FFFFFF);
    opacity: 0.5;
}
*/

a:link, a:visited {
    text-decoration: none;
}

img.carousel{
    width: 960px;
    height: 540px;
}

img#picofme {
    display: flex;
    width: 300px;
    height: auto;
    margin-left: 50px;
}   

div.textbox#aboutme p1 {
    display: flex;
    font-size: 18px;
    font-weight: 600;
    word-wrap: normal;
}

.about {
    display: flex;
    flex-direction: column;
}

.contact_icon {
    padding-left: 30px;
    padding-right: 30px;
    height: 72px;
    width: 72px;
    filter: brightness(0) saturate(100%) invert(0%) sepia(23%) saturate(2993%) hue-rotate(222deg) brightness(98%) contrast(108%); /* https://codepen.io/sosuke/pen/Pjoqqp --> website for filter settings */
}

.contact_icon#li{
    width: 84.6px;
}

div.caption p2#cap {
    font-size: 24px;
}